<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forms</title>
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <header class="header">
    <img src="../assets/doable.svg" class="title-header">
  </header>
  <form class="form-content">
    <p class="text-form">Email</p>
    <input type="text" placeholder="you@example.com" class="input-form">
    <p class="text-form">Password</p>
    <input type="text" placeholder="******" class="input-form">
    <button type="submit" class="btn-submit-form">Login</button>
    <div class="anchor"><a class="create-account_login">Create account</a></div>
  </form>
</body>

</html>